   <!--formulario -->
   <div class="container mt-4" >
    <div class="card border-secondary">
        <div class="card-header bg-dark text-light">Nuevo Registro</div>
        <div class="card-body">
            <form action="/saveFactProd" method="POST">
                <div class="mb-3">
                    
                    <label for="user" class="form-label">Fecha</label>
                    <label for="usuario" class="form-label"></label>
                    <input type="date" class="form-control" id="fecha" name="fecha" tabindex="1">
                </div>

                <div class="mb-3">
                  <label for="hora" class="form-label">Hora</label>
                  <select id="hora" name="hora" class="form-select" tabindex="2">
                      <optgroup label="Mañana">
                          <option value="10:00">10:00 am</option>
                          <option value="10:30">10:30 am</option>
                          <option value="11:00">11:00 am</option>
                          <option value="11:30">11:30 am</option>
                          <option value="12:00">12:00 pm</option>
                      </optgroup>
                      <optgroup label="Tarde">
                          <option value="14:00">2:00 pm</option>
                          <option value="14:30">2:30 pm</option>
                          <option value="15:00">3:00 pm</option>
                          <option value="15:30">3:30 pm</option>
                          <option value="16:00">4:00 pm</option>
                          <option value="16:30">4:30 pm</option>
                          <option value="17:00">5:00 pm</option>
                          <option value="17:30">5:30 pm</option>
                          <option value="18:00">6:00 pm</option>
                      </optgroup>
                  </select>
              </div>

                <div class="mb-3">
                  <label for="servicio" class="form-label">Producto</label>
                  <select id="producto" name="producto" class="form-select" tabindex="2">
                      <option value="Shampoo y acondicionador Barba Larga">Shampoo y acondicionador Barba Larga</option>
                      <option value="Tonico Barba Larga">Tonico Barba Larga</option>
                      <option value="BIO Aceite Barba Larga">BIO Aceite Barba Larga</option>
                      <option value="Cera Barba Leñador">Cera Barba Leñador</option>
                      <option value="Cera Premium Moldeadora">Cera Premium Moldeadora</option>
                      <option value="Cera Premium Black">Cera Premium Black</option>
                      <option value="kit1: Cuidado Capilar">kit1: Cuidado Capilar</option>
                      <option value="Kit2: Completo">Kit2: Completo</option>
                  </select>
              </div>
  <!--agregar id_cliente y Id_Cita al crud. router para crear el registro(despues de que la vista funcione mirar conexion con sql y tabla cita) -->

              <div class="mb-3">
                                
                <label for="user" class="form-label">Id_Producto</label>
                <label for="usuario" class="form-label"></label>
                <input type="text" class="form-control" id="id_producto" name="id_producto" tabindex="1">
            </div>


              <div class="mb-3">
                    
                <label for="user" class="form-label">Id_Cliente</label>
                <label for="usuario" class="form-label"></label>
                <input type="text" class="form-control" id="id_cliente" name="id_cliente" tabindex="1">
            </div>

 <!--agregar id_cliente y Id_Cita al crud. router para crear el registro(despues de que la vista funcione mirar conexion con sql y tabla cita) -->             
              <div class="mb-3">
                    
                <label for="user" class="form-label">Nombre Cliente</label>
                <label for="usuario" class="form-label"></label>
                <input type="text" class="form-control" id="nombre_cliente" name="nombre_cliente" tabindex="1">
            </div>

                <div class="mb-3">
                  <label for="valor_factura" class="form-label">valor_factura</label>
                  <input type="text" id="valor_factura" name="valor_factura" class="form-control" readonly>
              </div>

              <div class="mb-3">
                <label for="user" class="form-label">nombre_vendedor</label>
                <select id="nombre_vendedor" name="nombre_vendedor" class="form-select" tabindex="2">
                    <option value="Alex Rios" selected>Alex Rios</option>
                    <option value="Cristian Rios">Cristian Rios</option>
                </select>
            </div>

                <div class="mb-3">
                    <label for="user" class="form-label">Sede</label>
                    <select id="sede" name="sede" class="form-select" tabindex="2">
                        <option value="La estrella" selected>La estrella</option>
                        <option value="La Enea">La Enea</option>
                    </select>
                </div>
                
                <button type="submit" class="btn btn-barb-color2" id="guardarButton" tabindex="5">Guardar</button>
                <a href="/factProd" class="btn btn-secondary">Cancelar</a>
            </form>
        </div>

    </div>
 </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

<!-- script para autocompletar el valor de la cita -->
<script>
  // Obtener referencia a los elementos select y el campo de valor cita
  const servicioSelect = document.getElementById('producto');
  const valorCitaInput = document.getElementById('valor_factura');

  // Función para actualizar el valor cita según el servicio seleccionado
  servicioSelect.addEventListener('change', function() {
      // Obtener el valor seleccionado del servicio
      const servicioSeleccionado = servicioSelect.value;
      
      // Actualizar el valor cita según el servicio seleccionado
      switch(servicioSeleccionado) {
          case 'Shampoo y acondicionador Barba Larga':
              valorCitaInput.value = '39000';
              break;
          case 'Tonico Barba Larga':
              valorCitaInput.value = '47000';
              break;
          case 'BIO Aceite Barba Larga':
              valorCitaInput.value = '30000';
              break;
          case 'Cera Barba Leñador':
              valorCitaInput.value = '16000';
              break;
          case 'Cera Premium Moldeadora':
              valorCitaInput.value = '25000';
              break;
          case 'Cera Premium Black':
              valorCitaInput.value = '25000';
              break;
          case 'kit1: Cuidado Capilar':
              valorCitaInput.value = '159000';
              break;
          case 'Kit2: Completo':
              valorCitaInput.value = '162000';
              break;
          
          default:
              // Limpiar el campo de valor cita si no se selecciona ningún servicio
              valorCitaInput.value = '';
              break;
      }
  });
</script>