<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- logo de la ventana de la pag -->
    <link rel="shorcut icon" href="img/logo.jpeg"type="image/x-icon">
    <!-- logos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <!--Bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="style.css" rel="stylesheet" >
    <!--Usamos boxicons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
  <body >
    <!--nanvar -->
    <nav class="navbar navbar-expand-lg  bg-barb-color2" >
        <div class="container-fluid">
          <a class="navbar-brand text-light"  href="#">Leñador barber shop</a>
          <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active text-light" aria-current="page" href="/home">Home</a>
              </li>

              <li class="nav-item">
                <a class="nav-link text-light" href="/carritoVenta">Carrito</a>
              </li>


              <li class="nav-item">
                <a class="nav-link text-light" href="/ventas">Ventas</a>
              </li>

              <li class="nav-item">
                <a class="nav-link text-light" href="/usuarios">Usuarios</a>
              </li>
            
              <li class="nav-item">
                <a class="nav-link text-light" href="/clientes">Clientes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="/productos">Productos</a>
              </li>

              <li class="nav-item">
                <a class="nav-link text-light" href="/citas">Citas</a>
              </li>

              <li class="nav-item">
                <a class="nav-link text-light" href="/factProd">Factura producto</a>
              </li>

              <li class="nav-item">
                <a class="nav-link text-light" href="/factServi">Factura servicio</a>
              </li>

              <li class="nav-item text-nowrap">
                 <a type="button" class="px-3 btn btn-danger py-2" href="logout">Logout</a>
              </li>

              
            </ul>
          </div>
        </div>
      </nav>
      <!--End nanvar -->
      
      <!-- inicio Contenido principal de las vistas -->
      <% if (typeof layout !== 'undefined' && layout) { %>
          <%- body %>
      <% } else { %>
          <%- body %>
      <% } %>
      <!--fin Contenido principal de las vistas -->

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>