<div class="container mt-4" >
    <div class="card border-secondary">
        <div class="card-header bg-dark text-light">Nuevo Registro</div>
        <div class="card-body">
            <form action="/saveProducto" method="POST">
                <div class="mb-3">
                    
                    <label for="user" class="form-label">Nombre Producto</label>
                    <label for="usuario" class="form-label"></label>
                    <input type="text" class="form-control" id="nombre" name="nombre" tabindex="1">
                </div>

                <div class="mb-3">
                    
                    <label for="user" class="form-label">Cantidad</label>
                    <label for="usuario" class="form-label"></label>
                    <input type="text" class="form-control" id="cantidad" name="cantidad" tabindex="1">
                </div>

                <div class="mb-3">
                    
                    <label for="user" class="form-label">Valor</label>
                    <label for="usuario" class="form-label"></label>
                    <input type="text" class="form-control" id="valor" name="valor" tabindex="1">
                </div>

                <div class="mb-3">
                    
                    <label for="user" class="form-label">id_usuario</label>
                    <label for="usuario" class="form-label"></label>
                    <input type="text" class="form-control" id="id_usuario" name="id_usuario" tabindex="1">
                </div>

                <button type="submit" class="btn btn-barb-color2" tabindex="5">Guardar</button>
                <a href="/productos" class="btn btn-secondary">Cancelar</a>
            </form>
        </div>

    </div>
 </div>
